# Updating thibodaux_data.db

This notebook takes data from an Excel file and updates the `thibodaux_data.db` database with any new information

In [1]:
import pandas as pd
import sqlite3

## Read Excel

In [150]:
def read_ballot_info(excel_file='raw_data.xlsx', sheet_name='ballots'):
    ballots = pd.read_excel(excel_file, sheet=sheet_name, dtype={'voter': 'object',  # read data from excel
                                                                 'n_votes': 'int', 
                                                                 'source': 'object', 
                                                                 'date': 'str'})
    ballot_info = ballots.loc[:,['voter', 'n_votes', 'source', 'date']]  # isolate columns
    return ballot_info

In [151]:
read_ballot_info()

            voter  n_votes        source                 date
0     Garry Brown       10         Email  2018-11-25 00:00:00
1    Lynn Henning        8  Detroit News  2018-11-27 00:00:00
2    Bob Kuenster       10        Forbes  2018-11-25 00:00:00
3   Sadiel Lebron       10       Twitter  2018-11-26 00:00:00
4   Steven Marcus        2       Newsday  2018-11-26 00:00:00
5  Anthony Rieber        9       Newsday  2018-11-26 00:00:00
6      Adam Rubin       10       Twitter  2018-11-22 00:00:00

In [166]:
def read_votes(excel_file='raw_data.xlsx', sheet_name='ballots'):
    raw = pd.read_excel(excel_file, sheet=sheet_name, dtype={'date':'str'})  # read data from excel
    ballots = raw.replace(to_replace='x', value=1).fillna(0)  # replace x with 1, fill NaN to 0
    
    cols = ballots.columns.tolist()
    n = int(cols.index('date'))
    cols = [cols[0], cols[n]] + cols[1:n] + cols[n+1:]
    ballots = ballots[cols]
    
    extra_cols = ['n_votes', 'source']
    ballot_votes = ballots.loc[:, [col for col in ballots.columns if col not in extra_cols]]  # get voter and player columns
    ballot_votes.iloc[:,2:] = ballot_votes.iloc[:,2:].astype(int)  # set player columns to int dtype

    return ballot_votes

In [167]:
read_votes()

,voter,date,Lance Berkman,Barry Bonds,Roger Clemens,Roy Halladay,Todd Helton,Andruw Jones,Jeff Kent,Edgar Martinez,...,Jon Garland,Travis Hafner,Ted Lilly,Derek Lowe,Darren Oliver,Juan Pierre,Placido Polanco,Miguel Tejada,Vernon Wells,Kevin Youkilis
0,Garry Brown,2018-11-25 00:00:00,0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,Lynn Henning,2018-11-27 00:00:00,0,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Bob Kuenster,2018-11-25 00:00:00,0,0,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Sadiel Lebron,2018-11-26 00:00:00,0,0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Steven Marcus,2018-11-26 00:00:00,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Anthony Rieber,2018-11-26 00:00:00,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,Adam Rubin,2018-11-22 00:00:00,0,1,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

## Connect to db

## Add player
- [x] read players from db
- [x] read players from excel
- [x] check if excel matches db
    - [x] if not, add player to db

In [125]:
def update_players(db_file='thibodaux_data.db', excel_file='raw_data.xlsx', sheet='players'):
    td_conn = sqlite3.connect(db_file)  # open connection
    cur = td_conn.cursor()  # create cursor

    # read players from db
    players_query = 'SELECT * FROM players'
    players_dbtable = pd.read_sql_query(players_query, td_conn)

    # read players from excel
    players_excel = pd.read_excel(excel_file, sheet_name=sheet)

    # find players not in db
    players_update = players_excel[~players_excel['name'].isin(players_dbtable['name'])]

    if players_update.shape[0] > 0:  # if there are players in the update dataframe,
        for player_name, year in list(players_update.itertuples(index=False, name=None)):  # get rows as tuples
            cur.execute('INSERT OR IGNORE INTO players (name, first_ballot_year) VALUES (?, ?)', (player_name, year))  # insert tuple into db
            td_conn.commit()  # save changes
            print(f'Added {player_name} to players table')
    else:
        print('No new players')
    
    # clean up
    cur.close()
    td_conn.close()

In [126]:
update_players()

No new players

## Add voter
- [ ] read voters from db
- [ ] check if excel matches db
    - [ ] if not, add voter

In [127]:
def update_voters(db_file='thibodaux_data.db', **kwargs):
    td_conn = sqlite3.connect(db_file)  # open connection
    cur = td_conn.cursor()  # create cursor

    # read voters from db
    voters_query = 'SELECT * FROM voters'
    voters_dbtable = pd.read_sql_query(voters_query, td_conn)

    # read voters from excel
    voters_excel = read_ballot_info(**kwargs)

    # find voters not in db
    voters_update = voters_excel[~voters_excel['voter'].isin(voters_dbtable['name'])]

    if voters_update.shape[0] > 0:  # if there are voters in the update dataframe,
        for voter_name in voters_update['voter'].tolist():  # get names
            cur.execute('INSERT OR IGNORE INTO voters (name) VALUES (?)', (voter_name,))  # insert data into db
            td_conn.commit()  # save changes
            print(f'Added {voter_name} to voters table')
    else:
        print('No new voters')

    # clean up
    cur.close()
    td_conn.close()

In [128]:
update_voters()

No new voters

## Add ballot
- [ ] read ballots from db
- [ ] check if excel matches db
    - [ ] if not, add ballot

In [129]:
read_ballot_info()

            voter  n_votes        source                 date
0     Garry Brown       10         Email  2018-11-25 00:00:00
1    Lynn Henning        8  Detroit News  2018-11-27 00:00:00
2    Bob Kuenster       10        Forbes  2018-11-25 00:00:00
3   Sadiel Lebron       10       Twitter  2018-11-26 00:00:00
4   Steven Marcus        2       Newsday  2018-11-26 00:00:00
5  Anthony Rieber        9       Newsday  2018-11-26 00:00:00
6      Adam Rubin       10       Twitter  2018-11-22 00:00:00

In [158]:
def update_ballots(db_file='thibodaux_data.db', induction_year=2019, **kwargs):
    conn = sqlite3.connect(db_file)
    cur = conn.cursor()  # create cursor
    ballot_query = 'SELECT voters.name, ballots.* FROM ballots INNER JOIN voters WHERE voter_id=ballots.voter_id'
    ballots_db = pd.read_sql_query(ballot_query, conn)

    ballots_excel = read_ballot_info(**kwargs)

    ballots_update = ballots_excel[~(ballots_excel.loc[:,['voter', 
                                                          'n_votes', 
                                                          'source', 
                                                          'date']
                                                      ].isin(ballots_db.loc[:,['name', 
                                                                               'n_votes', 
                                                                               'source', 
                                                                               'date']]))]

    voters_db = pd.read_sql_query('SELECT * FROM voters', conn)
    ballots_update = ballots_update.merge(voters_db, how='left', left_on='voter', right_on='name')
    
    if ballots_update.shape[0] > 0:
        print(ballots_update)
        for voter, n_votes, source, date, voter_id, name in list(ballots_update.itertuples(index=False, name=None)):
            print(type(voter), type(n_votes), type(source), type(date), type(voter_id), type(name))
            cur.execute('INSERT OR IGNORE INTO ballots (voter_id, n_votes, induction_year, date, source) VALUES (?,?,?,?,?)', 
                        (voter_id, n_votes, induction_year, date, source))  # insert data into db
            conn.commit()  # save changes
            print(f"Added {voter}'s {induction_year} ballot from {date}")
    else:
        print('No new ballots')

    # clean up
    cur.close()
    conn.close()

In [159]:
update_ballots()

            voter  n_votes        source                 date  id  \
0     Garry Brown       10         Email  2018-11-25 00:00:00   1
1    Lynn Henning        8  Detroit News  2018-11-27 00:00:00   2
2    Bob Kuenster       10        Forbes  2018-11-25 00:00:00   3
3   Sadiel Lebron       10       Twitter  2018-11-26 00:00:00   4
4   Steven Marcus        2       Newsday  2018-11-26 00:00:00   5
5  Anthony Rieber        9       Newsday  2018-11-26 00:00:00   6
6      Adam Rubin       10       Twitter  2018-11-22 00:00:00   7

             name
0     Garry Brown
1    Lynn Henning
2    Bob Kuenster
3   Sadiel Lebron
4   Steven Marcus
5  Anthony Rieber
6      Adam Rubin
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Garry Brown's 2019 ballot from 2018-11-25 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Lynn Henning's 2019 ballot from 2018-11-27 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Bob Kuenster's 2019 ballot from 2018-11-25 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Sadiel Lebron's 2019 ballot from 2018-11-26 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Steven Marcus's 2019 ballot from 2018-11-26 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Anthony Rieber's 2019 ballot from 2018-11-26 00:00:00
<class 'str'> <class 'int'> <class 'str'> <class 'str'> <class 'int'> <class 'str'>
Added Adam Rubin's 2019 ballot from 2018-11-22 00:00:00

## Add vote
- [ ] if ballot new (see above)
    - [ ] add player.id, voter.id, ballot.id to db